<section class="about section" id="about">
    <div class="container">
        <div class="about-content">
            <h2 class="about-title">Про нас</h2>

            <p class="about-text">
                У нашій "Солодкій Майстерні" ми створюємо неповторні
                солодкі шедеври, що приносять радість та задоволення.
                Наша місія — пропонувати високоякісні десерти, які
                поєднують у собі вишуканий смак, свіжі інгредієнти
                та естетичний вигляд.
            </p>
        </div>

        <ul class="about-gallery-mobile">
            <li class="about-gallery-item">
                <img src="./img/aboutUs/batch-of-eclairs-tablet-1x.jpg" srcset="
            ./img/aboutUs/batch-of-eclairs-tablet-1x.jpg 1x,
            ./img/aboutUs/batch-of-eclairs-tablet-2x.jpg 2x
          " alt="Batch of eclairs" loading="lazy" width="335" height="249" />
            </li>

            <li class="about-gallery-item">
                <img src="./img/aboutUs/pastry-chefs-tablet-1x.jpg" srcset="
            ./img/aboutUs/pastry-chefs-tablet-1x.jpg 1x,
            ./img/aboutUs/pastry-chefs-tablet-2x.jpg 2x
          " alt="Pastry chefs" loading="lazy" width="335" height="249" />
            </li>

            <li class="about-gallery-item">
                <img src="./img/aboutUs/pastry-shop-tablet-1x.jpg" srcset="
            ./img/aboutUs/pastry-shop-tablet-1x.jpg 1x,
            ./img/aboutUs/pastry-shop-tablet-2x.jpg 2x
          " alt="Pastry shop" loading="lazy" width="335" height="249" />
            </li>

            <li class="about-gallery-item">
                <img src="../img/aboutUs/young-woman-tablet-1x.jpg" srcset="
            ./img/aboutUs/young-woman-tablet-1x.jpg 1x,
            ./img/aboutUs/young-woman-tablet-2x.jpg 2x
          " alt="Young woman" loading="lazy" width="335" height="249" />
            </li>

        </ul>

        <div class="about-swiper swiper">
            <ul class="swiper-wrapper">
                <li class="swiper-slide">
                    <img src="./img/aboutUs/batch-of-eclairs-desktop-1x.jpg" srcset="
              ./img/aboutUs/batch-of-eclairs-desktop-1x.jpg 1x,
              ./img/aboutUs/batch-of-eclairs-desktop-2x.jpg 2x
            " alt="Batch of eclairs" loading="lazy" width="644" height="478" />
                </li>

                <li class="swiper-slide">
                    <img src="./img/aboutUs/pastry-chefs-desktop-1x.jpg" srcset="
              ./img/aboutUs/pastry-chefs-desktop-1x.jpg 1x,
              ./img/aboutUs/pastry-chefs-desktop-2x.jpg 2x
            " alt="Pastry chefs" loading="lazy" width="644" height="478" />
                </li>

                <li class="swiper-slide">
                    <img src="./img/aboutUs/pastry-shop-desktop-1x.jpg" srcset="
              ./img/aboutUs/pastry-shop-desktop-1x.jpg 1x,
              ./img/aboutUs/pastry-shop-desktop-2x.jpg 2x
            " alt="Pastry shop" loading="lazy" width="644" height="478" />
                </li>

                <li class="swiper-slide">
                    <img src="./img/aboutUs/young-woman-desktop-1x.jpg" srcset="
              ./img/aboutUs/young-woman-desktop-1x.jpg 1x,
              ./img/aboutUs/young-woman-desktop-2x.jpg 2x
            " alt="Young woman" loading="lazy" width="644" height="478" />
                </li>
            </ul>


            <button class="about-btn about-btn-prev" type="button">
                <svg width="24" height="24">
                    <use href="./img/icons.svg#icon-arrow-back"></use>
                </svg>
            </button>

            <button class="about-btn about-btn-next" type="button">
                <svg width="24" height="24">
                    <use href="./img/icons.svg#icon-arrow-forward"></use>
                </svg>
            </button>

            <div class="swiper-pagination"></div>

        </div>
    </div>
</section>