<section class="about section" id="about">
    <div class="container">
        <div class="about-content">
            <h2 class="about-title">Про нас</h2>

            <p class="about-text">
                У нашій 'Солодкій Майстерні' ми створюємо неповторні солодкі шедеври, що
                приносять радість та задоволення. Наша місія — пропонувати високоякісні десерти,
                які поєднують у собі вишуканий смак, свіжі інгредієнти та естетичний вигляд.
            </p>
        </div>

        <ul class="about-gallery-mobile" aria-label="Галерея майстерні">
            <li class="about-gallery-item">
                <img src="./img/about-us/Close-up-mobile.jpg" srcset="
                    ./img/about-us/Close-up-mobile.jpg 1x,
                    ./img/about-us/Close-up-mobile-2x.jpg 2x
                " alt="Batch of eclairs" loading="lazy" width="335" height="249" />
            </li>

            <li class="about-gallery-item">
                <img src="./img/about-us/Team-mobile.jpg" srcset="
                    ./img/about-us/Team-mobile.jpg 1x,
                    ./img/about-us/Team-mobile-2x.jpg 2x
                " alt="Pastry chefs" loading="lazy" width="335" height="249" />
            </li>

            <li class="about-gallery-item">
                <img src="./img/about-us/Interior-mobile.jpg" srcset="
                    ./img/about-us/Interior-mobile.jpg 1x,
                    ./img/about-us/Interior-mobile-2x.jpg 2x
                " alt="Pastry shop" loading="lazy" width="335" height="249" />
            </li>

            <li class="about-gallery-item">
                <img src="./img/about-us/Young-woman-mobile.jpg" srcset="
                    ./img/about-us/Young-woman-mobile.jpg 1x,
                    ./img/about-us/Young-woman-mobile-2x.jpg 2x
                " alt="Young woman" loading="lazy" width="335" height="249" />
            </li>
        </ul>

        <div class="about-swiper-wrap">

            <div class="about-swiper-inner">

                <div class="about-swiper swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="./img/about-us/Close-up.jpg" srcset="
                                ./img/about-us/Close-up.jpg 1x,
                                ./img/about-us/Close-up-2x.jpg 2x
                            " alt="Batch of eclairs" loading="lazy" width="644" height="478" />
                        </div>
                        <div class="swiper-slide">
                            <img src="./img/about-us/Team.jpg" srcset="
                                ./img/about-us/Team.jpg 1x,
                                ./img/about-us/Team-2x.jpg 2x
                            " alt="Pastry chefs" loading="lazy" width="644" height="478" />
                        </div>
                        <div class="swiper-slide">
                            <img src="./img/about-us/Interior.jpg" srcset="
                                ./img/about-us/Interior.jpg 1x,
                                ./img/about-us/Interior-2x.jpg 2x
                            " alt="Pastry shop" loading="lazy" width="644" height="478" />
                        </div>
                        <div class="swiper-slide">
                            <img src="./img/about-us/Young-woman.jpg" srcset="
                                ./img/about-us/Young-woman.jpg 1x,
                                ./img/about-us/Young-woman-2x.jpg 2x
                            " alt="Young woman" loading="lazy" width="644" height="478" />
                        </div>
                    </div>
                </div>

                <button class="about-btn about-btn-prev" type="button" aria-label="Попередній слайд">
                    <svg class="about-nav-icon" width="24" height="24">
                        <use href="./img/icons.svg#icon-arrow-back"></use>
                    </svg>
                </button>

                <button class="about-btn about-btn-next" type="button" aria-label="Наступний слайд">
                    <svg class="about-nav-icon" width="24" height="24">
                        <use href="./img/icons.svg#icon-arrow-forward"></use>
                    </svg>
                </button>

            </div>

            <div class="swiper-pagination"></div>

        </div>
    </div>
</section>