<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <section id="desserts-list" class="desserts-page">
            <div class="categories-list-container">
                <div class="titel-container">
                    <h2 class="desserts-page-title">Солодощі</h2>
                    <p class="desserts-page-subtitle">Спробуйте наші смачні десерти, які вас здивують!</p>
                </div>
                <div class="categories-list-desktop">

                </div>
                <select class="categories-list-tablet">

                </select>
            </div>
            <ul class="desserts-list">

            </ul>
            <button class="load-more-btn hidden">Завантажити ще</button>
            <div class="loader"></div>
        </section>
    </div>


    <script type="module" src="/js/dessert-list.js"></script>
</body>

</html>