<!-- MODAL -->
<div class="backdrop " data-modal>
    <div class="modal">
        <button class="modal-close" data-modal-close>
            <svg class="modal-close-icon" width="14" height="14">
                <use href="../favicon/modal-close.svg#icon-close-black"></use>
            </svg>
        </button>
        <div class="modal-content" data-modal-content></div>
        <div class="loader-wrapper is-hidden" data-loader>
            <div class="loader"></div>
        </div>
        <button class="order-btn" data-order-btn>
            Перейти до замовлення
        </button>
    </div>
</div>