<svg style="display: none;">
    <symbol id="icon-star" viewBox="0 0 24 24">
        <path d="M12 17.27L18.18 21 16.54 13.97 
             22 9.24 14.81 8.63 12 2 
             9.19 8.63 2 9.24 7.46 
             13.97 5.82 21z" />
    </symbol>
</svg>

<svg width="0" height="0">
    <defs>
        <linearGradient id="half-gradient">
            <stop offset="50%" stop-color="black" />
            <stop offset="50%" stop-color="#dcdcdc" />
        </linearGradient>
    </defs>
</svg>
<!-- MODAL -->
<div class="backdrop is-hidden" data-modal>
    <div class="modal">
        <button class="modal-close" data-modal-close>
            <svg class="modal-close-icon" width="14" height="14">
                <use href="../favicon/modal-close.svg#icon-close-black"></use>
            </svg>
        </button> 
        <div class="modal-content" data-modal-content>
        </div>
        <div class="loader-wrapper is-hidden" data-loader>
            <div class="loader"></div>
        </div>
        <!-- <button class="order-btn" data-order-btn disabled>Перейти до замовлення</button> -->
    </div>
</div>