<section class="faq-section" id="faq">

     <div class="container faq-container">
       <h2 class="faq-title">Часті запитання</h2>
       
       <ul class="faq-accordion">
        <li class="faq-item ac">
            <h3 class="ac-header">
                <button class="faq-question ac-trigger" type="button">
                    <span>1. Які способи оплати ви приймаєте?</span>
                        <svg class="faq-icon" width="32" height="32">
      <use href="./img/icons.svg#icon-keyboard"></use>
    </svg>

                </button>
            </h3>

     <div class="ac-panel">
        <p class="faq-answer ac-text">
            Ми приймаємо оплату онлайн банківськими картками Visa та Mastercard, через платіжні системи Apple Pay та Google Pay, а також готівкою кур'єру при отриманні замовлення.
        </p>
    </div>
     </li>

    
     <li class="faq-item ac">
        <h3 class="ac-header">
            <button class="faq-question ac-trigger" type="button">
                <span>2. Чи є у вас доставка?</span>
                <svg class="faq-icon" width="32" height="32">
      <use href="./img/icons.svg#icon-keyboard"></use>
    </svg>
            </button>
        </h3>
        <div class="ac-panel">
            <p class="faq-answer ac-text">
                Так, ми здійснюємо доставку по всьому місту. Вартість та умови доставки залежать від вашого району, деталі можна уточнити при оформленні замовлення.
            </p>
        </div>
     </li>


     <li class="faq-item ac">
        <h3 class="ac-header">
            <button class="faq-question ac-trigger" type="button">
                <span>3. Як швидко здійснюється доставка?</span>
                <svg class="faq-icon" width="32" height="32">
      <use href="./img/icons.svg#icon-keyboard"></use>
    </svg>
            </button>
        </h3>
        <div class="ac-panel">
            <p class="faq-answer ac-text">
                 Зазвичай доставка займає від 60 до 90 хвилин з моменту підтвердження замовлення. У пікові години час доставки може бути збільшений, про що ми вас обов'язково повідомимо.
            </p>
        </div>
     </li>


     <li class="faq-item ac">
        <h3 class="ac-header">
            <button class="faq-question ac-trigger" type="button">
                <span>4. Чи можна забрати замовлення самостійно?</span>
                <svg class="faq-icon" width="32" height="32">
      <use href="./img/icons.svg#icon-keyboard"></use>
    </svg>
            </button>
        </h3>
        <div class="ac-panel">
            <p class="faq-answer ac-text">
                Так, ви можете забрати своє замовлення самостійно за адресою [Вказати адресу самовивозу] у робочі години магазину.
           </p>
        </div>
     </li>


     <li class="faq-item ac">
        <h3 class="ac-header">
            <button class="faq-question ac-trigger" type="button">
                <span>5. Чи пропонуєте ви десерти для людей з особливими дієтичними потребами (безглютенові, безлактозні, веганські)?</span>
                <svg class="faq-icon" width="32" height="32">
      <use href="./img/icons.svg#icon-keyboard"></use>
    </svg>
            </button>
        </h3>
        <div class="ac-panel">
            <p class="faq-answer ac-text">
                Ми постійно розширюємо наш асортимент. Наразі у нас є обмежений вибір безглютенових та безлактозних десертів. Будь ласка, перегляньте наш каталог або зв'яжіться з нами для отримання детальної інформації.
           </p>
        </div>
     </li>



     <li class="faq-item ac">
        <h3 class="ac-header">
            <button class="faq-question ac-trigger" type="button">
                <span>6. Як я можу зробити замовлення на індивідуальний торт?</span>
                <svg class="faq-icon" width="32" height="32">
      <use href="./img/icons.svg#icon-keyboard"></use>
    </svg>
            </button>
        </h3>
        <div class="ac-panel">
            <p class="faq-answer ac-text">
                Для замовлення індивідуального торта, будь ласка, зв'яжіться з нашим менеджером за телефоном [Вказати номер телефону] або залиште заявку на сайті. Ми обговоримо всі деталі дизайну, начинки та терміни виконання.
           </p>
        </div>
     </li>


     <li class="faq-item ac">
        <h3 class="ac-header">
            <button class="faq-question ac-trigger" type="button">
                <span>7. Чи можна змінити або скасувати замовлення після його оформлення?</span>
                <svg class="faq-icon" width="32" height="32">
      <use href="./img/icons.svg#icon-keyboard"></use>
    </svg>
            </button>
        </h3>
        <div class="ac-panel">
            <p class="faq-answer ac-text">
                Якщо вам потрібно змінити або скасувати замовлення, будь ласка, негайно зв'яжіться з нами за телефоном. Можливість внесення змін залежить від етапу, на якому знаходиться ваше замовлення.
           </p>
        </div>
     </li>


   
     <li class="faq-item ac">
        <h3 class="ac-header">
            <button class="faq-question ac-trigger" type="button">
                <span>8. Який термін зберігання ваших десертів?</span>
                <svg class="faq-icon" width="32" height="32">
      <use href="./img/icons.svg#icon-keyboard"></use>
    </svg>
            </button>
        </h3>
        <div class="ac-panel">
            <p class="faq-answer ac-text">
                Термін зберігання десертів залежить від їхнього типу та інгредієнтів. Зазвичай десерти рекомендується вживати протягом 24-72 годин. Точна інформація про термін зберігання вказана на упаковці кожного виробу.
           </p>
        </div>
     </li>

     <li class="faq-item ac">
        <h3 class="ac-header">
            <button class="faq-question ac-trigger" type="button">
                <span>9. Чи є у вас програма лояльності або знижки для постійних клієнтів?</span>
                <svg class="faq-icon" width="32" height="32">
      <use href="./img/icons.svg#icon-keyboard"></use>
    </svg>
            </button>
        </h3>
        <div class="ac-panel">
            <p class="faq-answer ac-text">
                Так, ми цінуємо наших постійних клієнтів! Деталі нашої програми лояльності та діючих акцій ви можете знайти на окремій сторінці нашого сайту або уточнити у менеджера.
           </p>
        </div>
     </li>

     <li class="faq-item ac">
        <h3 class="ac-header">
            <button class="faq-question ac-trigger" type="button">
                <span>10. Що робити, якщо у мене є скарга або пропозиція?</span>
                <svg class="faq-icon" width="32" height="32">
      <use href="./img/icons.svg#icon-keyboard"></use>
    </svg>
            </button>
        </h3>
        <div class="ac-panel">
            <p class="faq-answer ac-text">
                Ми завжди раді зворотному зв'язку! Якщо у вас виникли питання, скарги або пропозиції, будь ласка, напишіть нам на електронну пошту [Вказати email] або зателефонуйте. Ваша думка допомагає нам ставати кращими.
           </p>
        </div>
    </li>
</ul>
</div>
</section>