<header>
  <div class="container header-container">
    <div class="logo-box">
      <a href="./index.html" class="logo-box" aria-label="Home page">
        <svg width="134" height="40">
          <use href="/img/icons.svg#icon-logo"></use>
        </svg>
      </a>
    </div>
    <nav class="header-nav" aria-label="Main navigation">
      <ul class="nav-list">
        <li><a class="nav-link" href="#desserts-list">Солодощі</a></li>
        <li><a class="nav-link" href="#about">Про нас</a></li>
        <li><a class="nav-link" href="#feedback">Відгуки</a></li>
        <li><a class="nav-link" href="#faq">Часті питання</a></li>
        <li><a class="shop-btn" href="#desserts-list">До покупок</a></li>
      </ul>
    </nav>
    <button class="burger-btn" type="button" aria-label="Open menu">
      <svg width="24" height="24">
        <use href="/img/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
