<div class="mob-menu is-hidden">
  <div class="mob-menu-container">
    <div class="mob-menu-top">
      <a href="./index.html" class="logo-box" aria-label="Home page">
        <svg width="134" height="40">
          <use href="/img/icons.svg#icon-logo"></use>
        </svg>
      </a>

      <button class="mob-menu-close" type="button" aria-label="Close menu">
        <svg width="24" height="24">
          <use href="/img/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>

    <ul class="mob-menu-list">
      <li>
        <a class="mob-menu-link js-close-menu" href="#desserts-list"
          >Солодощі</a
        >
      </li>
      <li><a class="mob-menu-link js-close-menu" href="#about">Про нас</a></li>
      <li>
        <a class="mob-menu-link js-close-menu" href="#feedback">Відгуки</a>
      </li>
      <li>
        <a class="mob-menu-link js-close-menu" href="#faq">Часті питання</a>
      </li>
    </ul>

    <a class="mob-menu-btn js-close-menu" href="#desserts-list"> До покупок </a>
  </div>
</div>
