.about {
    padding: 64px 0;
}

.about-content {
    text-align: center;
    margin-bottom: 40px;
}

.about-title {
    font-family: "Comfortaa", sans-serif;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    margin-bottom: 24px;
    text-wrap: balance;
}

.about-text {
    max-width: 335px;
    margin: 0 auto;
}

.about-gallery-mobile {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about-gallery-item img {
    width: 100%;
    height: 248px;
    object-fit: cover;
    border-radius: 16px;
}

.about-swiper-wrap {
    display: none;
}

@media screen and (min-width: 768px) {

    .about-text {
        max-width: 704px;
    }

    .about-gallery-mobile {
        display: none;
    }

    .about-nav-icon {
        fill: currentColor;
        stroke: currentColor;
    }

    .about-swiper-wrap {
        display: block;
    }

   .about-swiper-inner {
        position: relative;
        margin-bottom: 48px;
    }

    .about-swiper {
        overflow: hidden;
        border-radius: 16px;
    }

    .about-swiper .swiper-wrapper {
        align-items: stretch;   
    }

    .swiper-slide {
        height: auto;
    }

    .swiper-slide img {
        width: 100%;
        height: 100%;
        aspect-ratio: 644 / 478;
        height: auto;
        object-fit: cover;
        border-radius: 16px;
        display: block;
    }

    .about-nav-icon {
        fill: currentColor;
        stroke: currentColor;
    }

    .about-btn {
        position: absolute;
        top: 50%;
        z-index: 10;
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #080c0c;
        border-radius: 50%;
        background-color: #f5fdfd;
        color: #080c0c;
    
        transition:
        background-color 250ms ease,
        opacity 250ms ease,
        transform 250ms ease;
    }
  
    .about-btn-prev {
        left: 0;
        transform: translate(-50%, -50%);
    }
    
    .about-btn-next {
        right: 0;
        transform: translate(50%, -50%);
    }
    
    .about-btn:hover,
    .about-btn:focus {
        background: #f19898;
        cursor: pointer;
    }

    .about-btn:active {
        background: #c07979;
    }

    .about-btn.is-disabled,
    .about-btn:disabled,
    .about-btn.swiper-button-disabled {
        background: #f5fdfd;
        opacity: 0.2;
        pointer-events: none;
        cursor: not-allowed;
    }

    .swiper-pagination {
        position: static !important;;
        margin-top: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 9px;
    }

    .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        background: #c4c7c7;
        opacity: 1;
        border-radius: 50%;
        cursor: pointer;

        transition: background-color 0.25s ease, transform 0.25s ease;
    }

    .swiper-pagination-bullet:hover,
    .swiper-pagination-bullet:focus {
        cursor: pointer;
        transform: scale(1.15);
    }
        
   .swiper-pagination-bullet-active {
        background-color: #080c0c;
    }
}

@media screen and (min-width: 1440px) {

    .about {
        padding: 80px 0;
    }

    .about-text {
        max-width: 768px;
    }
    
    .about-title {
    font-size: 48px;
    }

    .swiper-slide img {
        aspect-ratio: 644 / 478;
    }
}